<div class="dialog-content-wrapper">

    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{ printer?.id === 0? 'New': 'Update' }}  Printer</span>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="pt-24 pl-24 pr-24 m-0" fusePerfectScrollbar>

        <form [formGroup]="printerForm">
            <input name="id" type="hidden" formControlName="id">

            <div class=" mb-16" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input name="name" formControlName="name" placeholder="Name" matInput required>
                    <mat-hint>Exact printer name</mat-hint>
                </mat-form-field>
            </div>

            <div class="mb-16" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <input name="host" formControlName="host" placeholder="Host" matInput required>
                    <mat-hint>Host IP/ Address</mat-hint>
                </mat-form-field>
            </div>

            <div class="mb-16" fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox fxFlex name="default" formControlName="default">Default Printer</mat-checkbox>
            </div>

            <div class="mb-16" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start start">
                <mat-form-field fxFlex="50">
                    <input name="username" formControlName="username" placeholder="Username" matInput>
                    <mat-hint>Username</mat-hint>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <input name="password" formControlName="password" placeholder="Password" matInput>
                    <mat-hint>Password</mat-hint>
                </mat-form-field>
            </div>

        </form>
    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="printer?.id != 0"
                mat-icon-button
                (click)="dialogRef.close(['delete',printerForm])"
                aria-label="Delete"
                matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>
        <button
                mat-raised-button
                (click)="save()"
                class="save-button mat-accent"
                [disabled]="printerForm.invalid"
                aria-label="Save">
            Save
        </button>
    </div>

</div>
