<div fxLayout="column" fxFlex [formGroup]="configurationForm">
    <div fxLayout="column" fxFlex formGroupName="configuration">
        <div class="mb-16" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field fxFlex="30">
                <input name="username" formControlName="username" placeholder="Username"
                       matInput required>
            </mat-form-field>
            <mat-form-field fxFlex="70">
                <input name="apiKey" formControlName="apiKey" placeholder="API Key" matInput
                       required>
            </mat-form-field>
        </div>
        <div class="mb-16" fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field fxFlex>
                <input name="shortCode" formControlName="shortCode" placeholder="Short Code"
                       matInput>
            </mat-form-field>
        </div>
    </div>
</div>