/*
@import "src/@fuse/scss/fuse";
@import "src/@fuse/scss/core";
*/

:host {

  .content {
    max-width: 1100px;

  }
}

.selection-bar {
  flex: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  z-index: 99;
}

#filter-print-requests-button {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 0;
  z-index: 99;
}